<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE"/>
    <uses-permission android:name="android.permission.health.READ_STEPS"/>
    <uses-permission android:name="android.permission.health.READ_EXERCISE"/>
    <uses-permission android:name="android.permission.health.READ_SLEEP"/>
    <uses-permission android:name="android.permission.health.READ_SPEED"/>
    <uses-permission android:name="android.permission.health.READ_DISTANCE"/>
    <uses-permission android:name="android.permission.health.READ_TOTAL_CALORIES_BURNED"/>
    <uses-permission android:name="android.permission.health.READ_WEIGHT"/>
    <uses-permission android:name="android.permission.health.READ_HEALTH_DATA_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="androidx.health.ACTION_READ_HEALTH_DATA" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.NewSleepSounds.SleepSoundPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".apimodel.exploremodules.affirmations.ExploreAffirmationsListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.exploremodule.ExploreSleepSoundsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.voicescan.VoiceScanFromActivity"
            android:exported="false" />
        <activity
            android:name=".ui.rlpagemain.RLPageActivity"
            android:exported="false"
            android:label="@string/title_activity_rlpage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_homepage"
            android:launchMode="singleTop" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.new_design.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.new_design.DataControlActivity" />
        <activity android:name=".ui.new_design.ImageSliderActivity" />
        <activity android:name=".ui.new_design.CreateUsernameActivity" />
        <activity android:name=".ui.new_design.WellnessFocusActivity" />
        <activity android:name=".ui.new_design.WellnessFocusListActivity" />
        <activity android:name=".ui.new_design.UnlockPowerOfYourMindActivity" />
        <activity android:name=".ui.new_design.ThirdFillerScreenActivity" />
        <activity android:name=".ui.new_design.YourInterestActivity" />
        <activity android:name=".ui.new_design.PersonalisationActivity" />
        <activity android:name=".ui.new_design.SyncNowActivity" />
        <activity android:name=".ui.new_design.OnboardingQuestionnaireActivity" />
        <activity android:name=".ui.new_design.AwesomeScreenActivity" />
        <activity android:name=".ui.new_design.EnableNotificationActivity" />
        <activity android:name=".ui.new_design.OnboardingFinalActivity" />
        <activity android:name=".ui.new_design.FreeTrailActivity" />
        <activity android:name=".ui.new_design.WelcomeActivity" />
        <activity android:name=".ui.voicescan.VoiceScanActivity" />
        <activity android:name=".ui.voicescan.AfterVoiceScanActivity" />
        <activity android:name=".ui.healthaudit.HealthAuditActivity" />
        <activity android:name=".ui.mindaudit.MindAuditActivity" />
        <activity android:name=".ui.healthcam.HealthCamActivity" />
        <activity android:name=".ui.voicescan.VoiceScanWaitingActivity" />
        <activity android:name=".ui.healthcam.HealthCamBasicDetailsActivity" />
        <activity android:name=".ui.CategoryListActivity" />
        <activity android:name=".ui.healthaudit.HealthAuditFormActivity" />
        <activity android:name=".ui.healthpagemain.HealthPageMainActivity" />
        <activity android:name=".ui.payment.AccessPaymentActivity" />
        <activity android:name=".ui.Articles.ArticlesDetailActivity" />
        <activity android:name=".ui.mindaudit.MindAuditFromActivity" />
        <activity android:name=".ui.mindaudit.MindAuditBasicScreeningQuestionsActivity" />
        <activity android:name=".ui.mindaudit.MASuggestedAssessmentActivity" />
        <activity android:name=".ui.mindaudit.MAAssessmentQuestionaireActivity" />
        <activity android:name=".ui.therledit.RLEditDetailViewActivity" />
        <activity android:name=".ui.Articles.ReceipeDetailActivity" />
        <activity android:name=".ui.Wellness.WellnessDetailViewActivity" />
        <activity android:name=".ui.Wellness.MoreContentDetailViewActivity" />
        <activity android:name=".ui.moduledetail.ModuleContentDetailViewActivity" />
        <activity android:name=".ui.exploremodule.ExploreModuleListActivity" />
        <activity android:name=".ui.drawermenu.ProfileActivity" />
        <activity android:name=".ui.drawermenu.ReferAFriendActivity" />
        <activity android:name=".ui.drawermenu.PurchaseHistoryTypesActivity" />
        <activity android:name=".ui.drawermenu.PurchaseHistoryActivity" />
        <activity android:name=".ui.drawermenu.FavouritesActivity" />
        <activity android:name=".ui.drawermenu.SettingsActivity" />
        <activity android:name=".ui.drawermenu.AboutUsActivity" />
        <activity android:name=".ui.drawermenu.NotificationsSettingActivity" />
        <activity android:name=".ui.drawermenu.FAQActivity" />
        <activity android:name=".ui.drawermenu.ContactUsActivity" />
        <activity android:name=".ui.drawermenu.TermsAndConditionsActivity" />
        <activity android:name=".ui.drawermenu.PrivacyPolicyActivity" />
        <activity android:name=".ui.drawermenu.AccountActivity" />
        <activity android:name=".ui.drawermenu.DeleteAccountActivity" />
        <activity android:name=".ui.drawermenu.PreferencesLayer1Activity" />
        <activity android:name=".ui.drawermenu.PreferencesLayer2Activity" />
        <activity android:name=".ui.drawermenu.ChangePasswordActivity" />
        <activity android:name=".ui.drawermenu.ThemeActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.therledit.ViewAllActivity" />
        <activity android:name=".ui.therledit.ArtistsDetailsActivity" />
        <activity android:name=".ui.therledit.ViewAllByArtistActivity" />
        <activity android:name=".ui.sdkpackage.HealthCamRecorderActivity" />
        <activity android:name=".ui.sdkpackage.VoiceRecorderActivity" />
        <activity android:name=".ui.sdkpackage.RlAnuraMeasurementActivity" />

        <activity android:name=".ui.jounal.JournalingActivity" />
        <activity android:name=".ui.jounal.JournalingListActivity" />
        <activity android:name=".ui.healthcam.NewHealthCamReportActivity" />
        <activity android:name=".ui.jounal.MyJournalActivity" />
        <activity android:name=".ui.jounal.EditJournalActivity" />
        <activity android:name=".ui.thoughtoftheday.ThoughtOfTheDayDetailActivity" />
        <activity android:name=".ui.Wellness.SeriesEpisodeDetailActivity" />
        <activity android:name=".ui.jounal.new_journal.JournalNewActivity" />
        <activity android:name=".ui.jounal.new_journal.JournalPromptActivity" />
        <activity android:name=".ui.jounal.new_journal.Journal4QuestionsActivity" />
        <activity android:name=".ui.jounal.new_journal.FreeFormJournalActivity" />
        <activity android:name=".ui.jounal.new_journal.BulletJournalActivity" />
        <activity android:name=".ui.jounal.new_journal.GriefJournalActivity" />
        <activity android:name=".ui.jounal.new_journal.JournalListActivity" />
        <activity android:name=".ui.affirmation.AffirmationLandingActivity1" />
        <activity android:name=".ui.affirmation.AffirmationLandingActivity2" />
        <activity android:name=".ui.affirmation.TodaysAffirmationActivity" />
        <activity android:name=".ui.affirmation.PractiseAffirmationPlaylistActivity" />
        <activity android:name=".newdashboard.HomeDashboardActivity" />
        <activity android:name=".newdashboard.FacialScanReportDetailsActivity" />

        <activity android:name=".ui.breathwork.BreathworkActivity" />
        <activity android:name=".ui.breathwork.BreathworkSessionActivity" />
        <activity android:name=".ui.breathwork.BreathworkPracticeActivity" />
        <activity android:name=".ui.settings.SettingsNewActivity" />
        <activity android:name=".ui.settings.AppSettingsActivity" />
        <activity android:name=".ui.settings.NotificationsNewActivity" />
        <activity android:name=".ui.settings.EmailNotificationsNewActivity" />
        <activity android:name=".ui.settings.SupportActivity" />
        <activity android:name=".ui.settings.FAQNewActivity" />
        <activity android:name=".ui.settings.FAQDetailsActivity" />
        <activity android:name=".ui.settings.GeneralInformationActivity" />
        <activity android:name=".ui.settings.HtmlTextActivity" />
        <activity android:name=".ui.settings.SubscriptionPlansActivity" />
        <activity android:name=".ui.profile_new.ProfileNewActivity" />
        <activity android:name=".ui.profile_new.ProfileSettingsActivity" />
        <activity android:name=".ui.profile_new.DeleteAccountSelectionActivity" />
        <activity android:name=".ui.profile_new.DeleteAccountReasonActivity" />
        <activity android:name=".ui.profile_new.DeleteAccountEmailDataActivity" />
        <activity android:name=".ui.NewSleepSounds.NewSleepSoundActivity" />




        <activity android:name="com.example.rlapp.ui.questionnaire.QuestionnaireEatRightActivity" />
        <activity android:name="com.example.rlapp.ui.questionnaire.QuestionnaireThinkRightActivity" />

        <activity android:name="com.example.rlapp.ai_package.ui.MainAIActivity" />

        <activity android:name="com.example.rlapp.ui.scan_history.PastReportActivity" />



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <receiver
            android:name=".ui.affirmation.ReminderReceiver"
            android:exported="true" />
    </application>

</manifest>