<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.READ_EXERCISE" />
    <uses-permission android:name="android.permission.health.READ_SLEEP" />
    <uses-permission android:name="android.permission.health.READ_SPEED" />
    <uses-permission android:name="android.permission.health.READ_DISTANCE" />
    <uses-permission android:name="android.permission.health.READ_TOTAL_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.READ_WEIGHT" />
    <uses-permission android:name="android.permission.health.READ_HEALTH_DATA_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="androidx.health.ACTION_READ_HEALTH_DATA" />

    <queries>
        <package android:name="com.google.android.apps.healthdata" />

        <intent>
            <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
        </intent>
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_rightlife"
        android:label="@string/app_name"
        android:roundIcon="@drawable/circular_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".subsciptions.BillingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.contentdetailvideo.ContentDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_content_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.NewSleepSounds.SleepSoundPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apimodel.exploremodules.affirmations.ExploreAffirmationsListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.exploremodule.ExploreSleepSoundsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.voicescan.VoiceScanFromActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.rlpagemain.RLPageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_rlpage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_homepage"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.new_design.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.new_design.DataControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_design.ImageSliderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_design.CreateUsernameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_design.WellnessFocusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_design.WellnessFocusListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_design.UnlockPowerOfYourMindActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_design.ThirdFillerScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_design.PersonalisationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_design.SyncNowActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_design.OnboardingQuestionnaireActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_design.UserInterestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_design.AwesomeScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_design.EnableNotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_design.OnboardingFinalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_design.FreeTrialServiceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_design.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.voicescan.VoiceScanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.voicescan.AfterVoiceScanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.healthaudit.HealthAuditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mindaudit.MindAuditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mindaudit.MindAuditResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.healthcam.HealthCamActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.voicescan.VoiceScanWaitingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.healthcam.basicdetails.HealthCamBasicDetailsNewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CategoryListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.healthaudit.HealthAuditFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.healthpagemain.HealthPageMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.payment.AccessPaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Articles.ArticlesDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mindaudit.MindAuditFromActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mindaudit.MindAuditBasicScreeningQuestionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mindaudit.MASuggestedAssessmentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mindaudit.MAAssessmentQuestionaireActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.therledit.RLEditDetailViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Articles.ReceipeDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Wellness.WellnessDetailViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Wellness.MoreContentDetailViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.moduledetail.ModuleContentDetailViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.exploremodule.ExploreModuleListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.drawermenu.TermsAndConditionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.drawermenu.PrivacyPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.therledit.ViewAllActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.therledit.ArtistsDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.therledit.ViewAllByArtistActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sdkpackage.HealthCamRecorderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sdkpackage.VoiceRecorderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.sdkpackage.RlAnuraMeasurementActivity" />
        <activity
            android:name=".ui.jounal.JournalingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.jounal.JournalingListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.healthcam.NewHealthCamReportActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.jounal.MyJournalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.jounal.EditJournalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.thoughtoftheday.ThoughtOfTheDayDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Wellness.SeriesEpisodeDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.jounal.new_journal.JournalNewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.jounal.new_journal.JournalPromptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.jounal.new_journal.Journal4QuestionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.jounal.new_journal.FreeFormJournalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.jounal.new_journal.BulletJournalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.jounal.new_journal.GriefJournalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.jounal.new_journal.JournalListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.affirmation.TodaysAffirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.affirmation.PractiseAffirmationPlaylistActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newdashboard.HomeDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newdashboard.FacialScanReportDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.breathwork.BreathworkActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.breathwork.BreathworkSessionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.breathwork.BreathworkPracticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.SettingsNewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.AppSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.ExportHealthDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.PreparingExportHealthDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.NotificationsNewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.EmailNotificationsNewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.SupportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.FAQNewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.FAQDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.GeneralInformationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.HtmlTextActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.SubscriptionPlansActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile_new.ProfileNewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile_new.ProfileSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.PurchasePlansActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile_new.DeleteAccountSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile_new.DeleteAccountReasonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile_new.DeleteAccountEmailDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.NewSleepSounds.NewSleepSoundActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.questionnaire.QuestionnaireEatRightActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.questionnaire.QuestionnaireThinkRightActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ai_package.ui.MainAIActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />

                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.scan_history.PastReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_design.HappyToHaveYouActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.IntegrationsNewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.AccountPrivacyNewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.SubscriptionHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.contentdetailvideo.SeriesListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.contentdetailvideo.NewSeriesDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".subscriptions.SubscriptionPlanListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".subscriptions.PlanInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <receiver
            android:name=".ui.affirmation.ReminderReceiver"
            android:exported="true" />
    </application>

</manifest>